.wide {
    width: 100%;
}

.header {
    height: 80px;
}

.podheader {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deepskyblue_text {
    color: deepskyblue;
}

.midnightblue_text{
    color: midnightblue;
}

.deepskyblue {
    background-color: deepskyblue;
    display: flex;
    justify-content: end;
    align-items: center;
}

.deepskyblue_color {
    background-color: deepskyblue;
}

.midnightblue {
    background-color: midnightblue;
}

.lightblue {
    background-color: lightblue;
}

.header_text1 {
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.header_text2 {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.small_rectangle {
    width: 100px;
    height: 60px;
    margin-left: 5%;
}

.big_rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.six_blocks {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    height: 250px;
    width: 150px;
    margin: 20px;
}

.block_a {
    height: 200px;
    width: 150px;
    border-bottom: 5px solid deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block_b {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
}

.screen {
    width: 140px;
    height: 100px;
}

.pult {
    height: 90px;
    width: 150px;
}

.power {
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vkl {
    width: 40px;
    height: 10px;
}

.direction {
    width: 35px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.direction2 {
    width: 50px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.vlevo {
    width: 16px;
    height: 10px;
}

.intro {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_text {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reverse_blocks {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.reverse_block1 {
    width: 285px;
    height: 300px;
}

.reverse_margin_left {
    margin-left: 15px;
}

.reverse_margin_top {
    margin-top: 70px;
}

h5 {
    text-align: center;
}

h1, h3, h4, h5 {
    color: deepskyblue;
}

.raz {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dva {
    display: flex;
    justify-content: center;
    align-items: center;
}

.golub {
    height: 250px;
    width: 80%;
    border: 5px solid deepskyblue;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pustoi {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pustoi2 {
    height: 60px;
    width: 780px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.otstup {
    display: flex;
    margin-left: 52px;
    margin-right: 52px;
}

.poloski {
    display: flex;
}

.darkblue {
    background-color: midnightblue;
}

.dovga {
    width: 50px;
    height: 10px;
}

.korotka {
    width: 30px;
    height: 10px;
}

.kvadraty {
    width: 780px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.kvadrat {
    height: 100px;
    width: 100px;
}

.radius {
    border-radius: 15px;
}

.margin {
    margin-left: 3px;
    margin-right: 3px;
}

.krugi {
    width: 200px;
    height: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.border {
    border: 5px solid deepskyblue;
}

.krugbox {
    width: 200px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.krug {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: lightblue;
}

.textbox {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.poloski2 {
    width: 40px;
    height: 10px;
    background-color: lightblue;
    margin-left: 3px;
    margin-right: 3px;
}

.poloski3 {
    width: 25px;
    height: 10px;
    background-color: lightblue;
    margin-left: 3px;
    margin-right: 3px;
}

.footer {
    height: 200px;
}

.footer_blocks {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer_block {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.footerline {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 35%;
    height: 3px;
}