.grandfather {
    width: 900px;
    height: 3000px;
    background-color: greenyellow;
}

.header {
    width: 900px;
    height: 80px;
}

.podheader {
    width: 900px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.father {
    width: 900px;
    height: 630px;
}

.deepskyblue {
    background-color: deepskyblue;
    display: flex;
    justify-content: end;
    align-items: center;
}

.midnightblue {
    background-color: midnightblue;
}

.lightblue {
    background-color: lightblue;
}

.header_text1 {
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.header_text2 {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.small_rectangle {
    width: 100px;
    height: 60px;
    margin-left: 120px;
}

.big_rectangle {
    width: 900px;
    height: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.six_blocks {
    width: 750px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    height: 250px;
    width: 150px;
    margin: 20px;
}

.block_a {
    height: 200px;
    width: 150px;
    border-bottom: 5px solid deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block_b {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
}

.screen {
    width: 140px;
    height: 100px;
}

.pult {
    height: 90px;
    width: 150px;
}

.power {
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vkl {
    width: 40px;
    height: 10px;
}

.direction {
    width: 35px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.direction2 {
    width: 50px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.vlevo {
    width: 16px;
    height: 10px;
}

.intro {
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_text {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h5 {
    color: deepskyblue;
    text-align: center;
}

h4 {
    color: deepskyblue;
}

h3 {
    color: deepskyblue;
}

h1 {
    color: deepskyblue;
}

.raz {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dva {
    height: 300px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.golub {
    height: 250px;
    width: 850px;
    border: 5px solid deepskyblue;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pustoi {
    height: 80px;
    width: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pustoi2 {
    height: 60px;
    width: 780px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.otstup {
    display: flex;
    margin-left: 52px;
    margin-right: 52px;
}

.poloski {
    display: flex;
}

.darkblue {
    background-color: midnightblue;
}

.dovga {
    width: 50px;
    height: 10px;
}

.korotka {
    width: 30px;
    height: 10px;
}

.kvadraty {
    width: 780px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.kvadrat {
    height: 100px;
    width: 100px;
}

.radius {
    border-radius: 15px;
}

.margin {
    margin-left: 3px;
    margin-right: 3px;
}

.krugi {
    width: 200px;
    height: 250px;
}

.border {
    border: 5px solid deepskyblue;
}

.krugbox {
    width: 200px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.krug {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: lightblue;
}

.textbox {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.poloski2 {
    width: 40px;
    height: 10px;
    background-color: lightblue;
    margin-left: 3px;
    margin-right: 3px;
}

.poloski3 {
    width: 25px;
    height: 10px;
    background-color: lightblue;
    margin-left: 3px;
    margin-right: 3px;
}